<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tb4_lss_arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import lss urdf file -->
    <xacro:include filename="$(find lss_arm_description)/urdf/lss_arm/lss_arm.urdf.xacro" />

    <!-- Import lss ros2_control description -->
    <xacro:include filename="lss_arm.ros2_control.xacro" />
    <xacro:include filename="lss_gripper.ros2_control.xacro" />

    <xacro:lss_ros2_control name="LSSFakeSystem" initial_positions_file="$(arg initial_positions_file)"/>
    <xacro:lss_gripper_ros2_control name="LSSGripperFakeSystem"/>
</robot>
