<?xml version="1.0"?>
<!-- Xacro for LSS Arms -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--                   -->
  <!-- Imported elements -->
  <!--                   -->
  <xacro:include filename="$(find lss_arm_description)/urdf/lss_arm_utils.xacro"/>
  <xacro:include filename="$(find lss_arm_description)/urdf/lss_arm.ros2_control"/>

  <!--            -->
  <!-- Properties -->
  <!--            -->
  <xacro:property name="joint_0_name" value="joint_0"/>
  <xacro:property name="joint_0_type" value="fixed"/>
  <xacro:property name="joint_0_origin_rpy" value="0 0 0"/>
  <xacro:property name="link_0_name" value="link_0"/>
  <xacro:property name="link_0_mu" value="0.3"/>

  <xacro:property name="joint_1_name" value="joint_1"/>
  <xacro:property name="joint_1_type" value="revolute"/>
  <xacro:property name="joint_1_origin_xyz" value="0 0 0.042699975"/>
  <xacro:property name="joint_1_origin_rpy" value="${pi/2} 0 0"/>
  <xacro:property name="joint_1_axis_xyz" value="0 1 0"/>
  <xacro:property name="joint_1_lower_limit" value="${-pi}"/>
  <xacro:property name="joint_1_upper_limit" value="${pi}"/>
  <xacro:property name="joint_1_velocity_limit" value="6.283"/>
  <xacro:property name="joint_1_torque_limit" value="6.5"/>
  <xacro:property name="joint_1_damping" value="0.01"/>
  <xacro:property name="joint_1_friction" value="3.48"/>
  <xacro:property name="link_1_name" value="link_1"/>
  <xacro:property name="link_1_mu" value="0.3"/>

  <xacro:property name="joint_2_name" value="joint_2"/>
  <xacro:property name="joint_2_type" value="revolute"/>
  <xacro:property name="joint_2_origin_xyz" value="0 0.0588000249999991 0"/>
  <xacro:property name="joint_2_origin_rpy" value="0 0 -1.3621104667496"/>
  <xacro:property name="joint_2_axis_xyz" value="0 0 1"/>
  <xacro:property name="joint_2_lower_limit" value="${-125*pi/180}"/>
  <xacro:property name="joint_2_upper_limit" value="${125*pi/180}"/>
  <xacro:property name="joint_2_velocity_limit" value="6.283"/>
  <xacro:property name="joint_2_torque_limit" value="6.5"/>
  <xacro:property name="joint_2_damping" value="0.01"/>
  <xacro:property name="joint_2_friction" value="3.48"/>
  <xacro:property name="link_2_name" value="link_2"/>
  <xacro:property name="link_2_mu" value="0.3"/>

  <xacro:property name="joint_3_name" value="joint_3"/>
  <xacro:property name="joint_3_type" value="revolute"/>
  <xacro:property name="joint_3_origin_xyz" value="-0.12954806230389 0.0533975613048809 0"/>
  <xacro:property name="joint_3_origin_rpy" value="0 0 1.02985068022995"/>
  <xacro:property name="joint_3_axis_xyz" value="0 0 1"/>
  <xacro:property name="joint_3_lower_limit" value="${-110*pi/180}"/>
  <xacro:property name="joint_3_upper_limit" value="${90*pi/180}"/>
  <xacro:property name="joint_3_velocity_limit" value="6.283"/>
  <xacro:property name="joint_3_torque_limit" value="6.5"/>
  <xacro:property name="joint_3_damping" value="0.01"/>
  <xacro:property name="joint_3_friction" value="3.48"/>
  <xacro:property name="link_3_name" value="link_3"/>
  <xacro:property name="link_3_mu" value="0.3"/>

    <!--       -->
    <!-- Macro -->
    <!--       -->
    <xacro:property name="default_origin_xyz" value="0 0 0"/>
    <xacro:property name="default_origin_rpy" value="0 0 0"/>
    <xacro:macro name="lss_arm" params="
      base_parent
      prefix
      origin_xyz:=${default_origin_xyz}
      origin_rpy:=${default_origin_rpy}
      collision:=true
      safety_limits:=false
      safety_position_margin:=${pi/180}
      safety_k_position:=0.3
      safety_k_velocity:=100.0
      ros2_control:=true
      ros2_control_plugin:=fake
      gazebo_preserve_fixed_joint:=false
    ">

    <!-- 0 -->
    <xacro:lss_arm_joint_
    parent="${base_parent}"
    child="${prefix}${link_0_name}"
    joint_name="${prefix}${joint_0_name}"
    joint_type="${joint_0_type}"
    joint_origin_xyz="${joint_0_origin_xyz}"
    joint_origin_rpy="${joint_0_origin_rpy}"
    gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"
    />
    <xacro:lss_arm_link
    link_name="${prefix}${link_0_name}"
    mesh="${link_0_mesh}"
    collision="${collision}"
    mu="${link_0_mu}"
    />

    <!-- 1 -->
    <xacro:lss_arm_joint_
    parent="${prefix}${link_0_name}"
    child="${prefix}${link_1_name}"
    joint_name="${prefix}${joint_1_name}"
    joint_type="${joint_1_type}"
    joint_origin_xyz="${joint_1_origin_xyz}"
    joint_origin_rpy="${joint_1_origin_rpy}"
    joint_axis_xyz="${joint_1_axis_xyz}"
    joint_lower_limit="${joint_1_lower_limit}"
    joint_upper_limit="${joint_1_upper_limit}"
    joint_velocity_limit="${joint_1_velocity_limit}"
    joint_torque_limit="${joint_1_torque_limit}"
    joint_damping="${joint_1_damping}"
    joint_friction="${joint_1_friction}"
    safety_limits="${safety_limits}"
    safety_position_margin="${safety_position_margin}"
    safety_k_position="${safety_k_position}"
    safety_k_velocity="${safety_k_velocity}"
    gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"
    />
    <xacro:lss_arm_link
    link_name="${prefix}${link_1_name}"
    mesh="${link_1_mesh}"
    collision="${collision}"
    mu="${link_1_mu}"
    />

    <!-- 2 -->
    <xacro:lss_arm_joint_
    parent="${prefix}${link_1_name}"
    child="${prefix}${link_2_name}"
    joint_name="${prefix}${joint_2_name}"
    joint_type="${joint_2_type}"
    joint_origin_xyz="${joint_2_origin_xyz}"
    joint_origin_rpy="${joint_2_origin_rpy}"
    joint_axis_xyz="${joint_2_axis_xyz}"
    joint_lower_limit="${joint_2_lower_limit}"
    joint_upper_limit="${joint_2_upper_limit}"
    joint_velocity_limit="${joint_2_velocity_limit}"
    joint_torque_limit="${joint_2_torque_limit}"
    joint_damping="${joint_2_damping}"
    joint_friction="${joint_2_friction}"
    safety_limits="${safety_limits}"
    safety_position_margin="${safety_position_margin}"
    safety_k_position="${safety_k_position}"
    safety_k_velocity="${safety_k_velocity}"
    gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"
    />
    <xacro:lss_arm_link
    link_name="${prefix}${link_2_name}"
    mesh="${link_2_mesh}"
    collision="${collision}"
    mu="${link_2_mu}"
    />

    <!-- 3 -->
    <xacro:lss_arm_joint_
    parent="${prefix}${link_2_name}"
    child="${prefix}${link_3_name}"
    joint_name="${prefix}${joint_3_name}"
    joint_type="${joint_3_type}"
    joint_origin_xyz="${joint_3_origin_xyz}"
    joint_origin_rpy="${joint_3_origin_rpy}"
    joint_axis_xyz="${joint_3_axis_xyz}"
    joint_lower_limit="${joint_3_lower_limit}"
    joint_upper_limit="${joint_3_upper_limit}"
    joint_velocity_limit="${joint_3_velocity_limit}"
    joint_torque_limit="${joint_3_torque_limit}"
    joint_damping="${joint_3_damping}"
    joint_friction="${joint_3_friction}"
    safety_limits="${safety_limits}"
    safety_position_margin="${safety_position_margin}"
    safety_k_position="${safety_k_position}"
    safety_k_velocity="${safety_k_velocity}"
    gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"
    />
    <xacro:lss_arm_link
    link_name="${prefix}${link_3_name}"
    mesh="${link_3_mesh}"
    collision="${collision}"
    mu="${link_3_mu}"
    />

     <!-- ROS 2 control -->
    <xacro:if value="${ros2_control}">
        <xacro:ros2_control_lss_arm prefix="${prefix}" plugin="${ros2_control_plugin}" command_interface="position"/>
    </xacro:if>

  </xacro:macro>

</robot>
