<?xml version="1.0"?>
<!-- Xacro for LSS 4DoF Arm -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--                   -->
  <!-- Imported elements -->
  <!--                   -->
  <xacro:include filename="$(find lss_arm_description)/urdf/lss_arm_utils.xacro"/>
  <xacro:include filename="$(find turtlebot4_description)/urdf/lite/turtlebot4.urdf.xacro" />
  <xacro:include filename="$(find lss_arm_description)/urdf/lss_arm.ros2_control"/>
  
  <!--            -->
  <!-- Properties -->
  <!--            -->
  <xacro:property name="joint_base_name" value="base_joint"/>
  <xacro:property name="joint_base_type" value="fixed"/>
  <xacro:property name="link_base_mu" value="0.3"/>

  <xacro:property name="default_origin_xyz" value="0 0 0"/>
  <xacro:property name="default_origin_rpy" value="0 0 0"/>

    <!--       -->
    <!-- Macro -->
    <!--       -->
    <xacro:macro name="tb4_base" params="
      base_parent
      prefix
      origin_xyz:=${default_origin_xyz}
      origin_rpy:=${default_origin_rpy}
      collision:=true
      safety_limits:=false
      ros2_control:=true
      ros2_control_plugin:=fake
      ros2_control_command_interface:=effort
      gazebo_preserve_fixed_joint:=false
    ">

      <!-- Vitual Link -->
    <xacro:lss_arm_joint
      parent="world"
      child="base_link"
      joint_name="tb4_base_joint"
      joint_type="${joint_base_type}"
      joint_origin_xyz="${default_origin_xyz}"
      joint_origin_rpy="${default_origin_rpy}"
      gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"
    />

    <!-- Base -->
    <xacro:lss_arm_joint
      parent="base_link"
      child="${prefix}base_link"
      joint_name="${prefix}${joint_base_name}"
      joint_type="${joint_base_type}"
      joint_origin_xyz="${origin_xyz}"
      joint_origin_rpy="${origin_rpy}"
      gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"
    />
    <xacro:lss_arm_link
      link_name="${prefix}base_link"
      mesh="${link_base_mesh}"
      collision="${collision}"
      mu="${link_base_mu}"
    />

    <!-- ROS 2 control -->
    <xacro:if value="${ros2_control}">
      <xacro:ros2_control_lss_arm prefix="${prefix}" plugin="${ros2_control_plugin}" command_interface="${ros2_control_command_interface}"/>
    </xacro:if>
  </xacro:macro>

</robot>
