<?xml version="1.0"?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="$(arg name)">
  <!--                   -->
  <!-- Imported elements -->
  <!--                   -->
  <xacro:include filename="$(find lss_arm_moveit)/srdf/lss_arm.xacro" />
  <xacro:include filename="$(find lss_arm_moveit)/srdf/lss_gripper.xacro" />

  <!--            -->
  <!-- Parameters -->
  <!--            -->
  <!-- Name of the robot (mandatory) -->
  <xacro:arg name="name" default="lss_arm"/>
  <!-- Prefix for all entities -->
  <xacro:arg name="prefix" default="$(arg name)_"/>
  <!-- Parameter to select gripper model-->
  <xacro:arg name="dof" default="4"/>

  <!--            -->
  <!-- Properties -->
  <!--            -->
  <!--  Prefixes  -->
  <xacro:property name="prefix" value="$(arg prefix)"/>

  <!--       -->
  <!-- Robot -->
  <!--       -->
  <xacro:if value="${'$(arg dof)' == '4'}">
    <xacro:lss_arm_4dof
      prefix="${prefix}"
    />
    <xacro:gripper_4dof
      prefix="${prefix}"
    />
    <disable_collisions link1="${prefix}finger_r" link2="${prefix}link_3" reason="Never"/>
    <disable_collisions link1="${prefix}finger_r" link2="${prefix}link_4" reason="Adjacent"/>
    <disable_collisions link1="${prefix}finger_l" link2="${prefix}link_3" reason="Never"/>
    <disable_collisions link1="${prefix}finger_l" link2="${prefix}link_4" reason="Adjacent"/>
  </xacro:if>

  <xacro:if value="${'$(arg dof)' == '5'}">
    <xacro:lss_arm_5dof
      prefix="${prefix}"
    />
    <xacro:gripper_5dof
      prefix="${prefix}"
    />
    <disable_collisions link1="${prefix}finger_r" link2="${prefix}link_4" reason="Never"/>
    <disable_collisions link1="${prefix}finger_r" link2="${prefix}link_5" reason="Adjacent"/>
    <disable_collisions link1="${prefix}finger_l" link2="${prefix}link_4" reason="Never"/>
    <disable_collisions link1="${prefix}finger_l" link2="${prefix}link_5" reason="Adjacent"/>
  </xacro:if>

  <end_effector group="gripper" name="gripper" parent_group="lss_arm" parent_link="${prefix}ee"/>

  <disable_collisions link1="${prefix}finger_r" link2="${prefix}finger_l" reason="Default"/>
</robot>
