<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--       -->
  <!-- Macro -->
  <!--       -->
  <xacro:macro name="lss_arm" params="
    prefix:=lss_arm_
  ">
    <group name="lss_arm">
        <chain base_link="${prefix}link_0" tip_link="${prefix}hand_tcp"/>
    </group>
    
    <group_state group="lss_arm" name="home" >
        <joint name="${prefix}joint1" value="0.0"/>
        <joint name="${prefix}joint2" value="0.8"/>
        <joint name="${prefix}joint3" value="-0.4"/>
        <joint name="${prefix}joint4" value="-0.4"/>
    </group_state>
    
    <disable_collisions link1="${prefix}link_0" link2="${prefix}link_1" reason="Adjacent"/>
    <disable_collisions link1="${prefix}link_0" link2="${prefix}link_2" reason="Never"/>
    <disable_collisions link1="${prefix}link_1" link2="${prefix}link_2" reason="Adjacent"/>
    <disable_collisions link1="${prefix}link_2" link2="${prefix}link_3" reason="Adjacent"/>
    <disable_collisions link1="${prefix}link_3" link2="${prefix}link_4" reason="Adjacent"/>
  </xacro:macro>
</robot>
